@import "tailwindcss";

.container {
  max-width: 100%;
  width: 81.25vw;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}
