@import "tailwindcss";

.container {
  max-width: 100%;
  width: 92%;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .container {
    width: 88%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 81.25%;
  }
}

html {
  scroll-behavior: smooth;
  background-color: #f3f4f6;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}
